<label>Server Name</label>
<!-- <input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"> -->
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName"
    >

<!-- {{ serverName }} -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add Server</button>
<!-- <p [innerText]='allowNewServer'></p> -->
<p>{{ serverCreationStatus }}</p>
<label>App-Server</label>
<app-server></app-server>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Hmmmm</p>
        </div>
    </div>
</div>

